* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 16px;
}

.logo {
  max-width: 150px;
  height: 60px;
  width: auto;
}

.item > img {
  width: 100%;
  height: auto;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
  height: 100%;
}

.videowrapper > iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: none;
}

.header {
  overflow: hidden;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header #nav-bar {
  display: none;
}

.header a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.header a.icon {
  background: black;
  color: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.header .nav-link:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: white;
  border-bottom: 2px solid gold;
}

.main {
  margin-top: 118px;
}

.item {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

.item h3 {
  text-align: center;
  font-size: 23px;
}

.item .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  height: 400px;
}

.item .image-container .item-image {
  max-height: 400px;
  max-width: 100%;
}

.item .buttons {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.item .buttons .arrow {
  height: 30px;
  width: auto;
}

.item .text-block {
  border-left: 2px solid gold;
  border-right: 2px solid gold;
}

.item .text-block .description-text {
  padding: 5px;
}

.item .text-block .price,
.item .text-block .year {
  background-color: gold;
  text-align: center;
}

.description {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  background-color: white;
  border-top: 2px solid gold;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 283.25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: black;
}

.footer p {
  padding: 5px;
  background-color: white;
}

.contact {
  padding: 10px;
}

.contact h2 {
  text-align: center;
  font-size: 30px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form .btn {
  background-color: gold;
  border: none;
  height: 30px;
}

.contact form .btn:focus {
  border: none;
}

.contact form .email {
  border: 2px solid gold;
  height: 30px;
}

.video {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */