* {
    padding: 0;
    margin: 0;
}

.item>img {
    width: 100%;
    height: auto;
}

.videowrapper>iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
}