* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 95px;
}

body {
    font-family: 'EB Garamond', serif;
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
}

.logo {
    max-width: 150px;
    height: 60px;
    width: auto;
}

.item>img {
    width: 100%;
    height: auto;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
    >iframe {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        border: none;
    }
    height: 100%;
}

.header {
    overflow: hidden;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    z-index: 1;
    a.active {
        height: 95px;
        color: black;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
        background-color: white;
        border-bottom: 2px solid gold;
        img {
            padding: 9px;
            height: 100%;
        }
    }
    .nav-toggle {
        position: absolute;
        top: 0;
        right: 0;
        padding: 22.25px 16.25px;
        margin: 9px 0;
        background-color: black;
        .burger {
            display: block;
            position: relative;
        }
        .burger,
        .burger::before,
        .burger::after {
            width: 15px;
            height: 3px;
            background-color: white;
            transition: transform 350ms ease-in-out, opacity 200ms ease-in-out;
        }
        .burger::before,
        .burger::after {
            content: '';
            position: absolute;
        }
        .burger::before {
            top: 6px;
        }
        .burger::after {
            bottom: 6px;
        }
    }
    .nav-link {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.nav {
    position: absolute;
    opacity: 0;
    transition: opacity 350ms linear;
}

.item {
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    h3 {
        text-align: center;
        font-size: 23px;
    }
    .image-container {
        max-width: 100%;
        width: fit-content;
        margin: 0 auto;
        height: 400px;
        position: relative;
        display: flex;
        align-items: flex-end;
        .item-image {
            max-height: 400px;
            max-width: 100%;
        }
    }
    .buttons {
        margin: 0 auto;
        width: fit-content;
        padding-left: 28.75px;
        .button {
            height: 30px;
            width: auto;
        }
        .glass {
            margin-left: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .text-block {
        border-left: 2px solid gold;
        border-right: 2px solid gold;
        .description-text {
            padding: 5px;
        }
        .price,
        .year {
            background-color: gold;
            text-align: center;
            border-right: 1px solid gold;
        }
    }
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
  }

.description {
    margin: 0 auto;
    width: fit-content;
}

.footer {
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: white;
    border-top: 2px solid gold;
    ul {
        display: flex;
        flex-direction: row;
        width: 283.25px;
        justify-content: space-between;
        padding: 5px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    p {
        padding: 5px;
        background-color: white;
    }
}

.contact {
    padding: 10px;
    h2 {
        text-align: center;
        font-size: 30px;
    }
    form {
        display: flex;
        flex-direction: column;
        .btn {
            background-color: gold;
            border: none;
            height: 30px;
            &:focus {
                border: none;
            }
        }
        .email {
            border: 2px solid gold;
            height: 30px;
            padding: 5px;
        }
    }
}

.video {
    padding: 10px;
}

.toggle {
    position: absolute;
    left: -99em;
}

.open-nav {
    position: static;
    opacity: 1;
}

.open-toggle {
    .burger {
        transform: rotate(45deg);
    }
    .burger::before {
        opacity: 0;
    }
    .burger::after {
        transform: rotate(90deg) translate(6px);
    }
}

.main {
    margin-top: 95px;
}

@media (min-width: 880px) {
    .description {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .item {
        width: 500px;
        margin: 0;
    }
    .footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        border-right: 2px solid gold;
        border-left: 2px solid gold;
        border-radius: 10px 10px 0 0;
        ul,
        p {
            padding: 20px;
        }
    }
    a.nav-toggle {
        display: none;
    }
    .header a.active {
        border: none;
    }
    .header {
        border-bottom: 2px solid gold;
        border-right: 2px solid gold;
        border-left: 2px solid gold;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav {
        position: static;
        opacity: 1;
    }
    .nav {
        display: flex;
        flex-direction: row;
    }
    .header a.active img {
        padding: 9px 20px;
    }
    .nav {
        padding: 10px 20px;
    }
    .contact form {
        flex-direction: row;
    }
    .contact form .email {
        width: 100%;
        border-right: none;
        border-radius: 10px 0 0 10px;
        height: 35px;
        padding: 0 20px;
    }
    .header,
    .footer {
        margin: 0 100px;
        width: calc(100% - 200px);
    }
    .video {
        margin: 0 100px;
    }
    .contact {
        margin: 0 100px;
    }
    .contact form .btn {
        border: 2px solid gold;
        border-radius: 0 10px 10px 0;
        height: 35px;
        padding: 0 20px;
        cursor: pointer;
    }
    .contact h2 {
        margin-bottom: 5px;
    }
    .arrow-resp {
        align-self: center;
        svg {
            width: auto;
            height: 70px;
        }
        path {
            fill: gold;
        }
        &-left {
            margin-right: 45px;
        }
        &-right {
            margin-left: 45px;
        }
    }
    .videowrapper {
        border-radius: 10px;
    }
}