* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  text-align: justify;
  font-weight: 500;
  font-size: 16px;
}

.logo {
  max-width: 150px;
  height: 60px;
  width: auto;
}

.item > img {
  width: 100%;
  height: auto;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
  height: 100%;
}

.videowrapper > iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: none;
}

.header {
  overflow: hidden;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header a.active {
  height: 95px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
  background-color: white;
  border-bottom: 2px solid gold;
}

.header a.active img {
  padding: 9px;
  height: 100%;
}

.header .nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22.25px 16.25px;
  margin: 9px 0;
  background-color: black;
}

.header .nav-toggle .burger {
  display: block;
  position: relative;
}

.header .nav-toggle .burger,
.header .nav-toggle .burger::before,
.header .nav-toggle .burger::after {
  width: 15px;
  height: 3px;
  background-color: white;
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 200ms ease-in-out;
  transition: transform 350ms ease-in-out, opacity 200ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.header .nav-toggle .burger::before,
.header .nav-toggle .burger::after {
  content: '';
  position: absolute;
}

.header .nav-toggle .burger::before {
  top: 6px;
}

.header .nav-toggle .burger::after {
  bottom: 6px;
}

.header .nav-link {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

.header .nav-link:hover {
  background-color: black;
  color: white;
}

.nav {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 350ms linear;
  transition: opacity 350ms linear;
}

.main {
  margin-top: 95px;
}

.item {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

.item h3 {
  text-align: center;
  font-size: 23px;
}

.item .image-container {
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item .image-container .item-image {
  max-height: 400px;
  max-width: 100%;
}

.item .buttons {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 28.75px;
}

.item .buttons .button {
  height: 30px;
  width: auto;
}

.item .buttons .glass {
  margin-left: 5px;
}

.item .buttons .glass:hover {
  cursor: pointer;
}

.item .text-block {
  border-left: 2px solid gold;
  border-right: 2px solid gold;
}

.item .text-block .description-text {
  padding: 5px;
}

.item .text-block .price,
.item .text-block .year {
  background-color: gold;
  text-align: center;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

.description {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  background-color: white;
  border-top: 2px solid gold;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 283.25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: black;
}

.footer p {
  padding: 5px;
  background-color: white;
}

.contact {
  padding: 10px;
}

.contact h2 {
  text-align: center;
  font-size: 30px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form .btn {
  background-color: gold;
  border: none;
  height: 30px;
}

.contact form .btn:focus {
  border: none;
}

.contact form .email {
  border: 2px solid gold;
  height: 30px;
  padding: 5px;
}

.video {
  padding: 10px;
}

.toggle {
  position: absolute;
  left: -99em;
}

.open-nav {
  position: static;
  opacity: 1;
}

.open-toggle .burger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open-toggle .burger::before {
  opacity: 0;
}

.open-toggle .burger::after {
  -webkit-transform: rotate(90deg) translate(6px);
          transform: rotate(90deg) translate(6px);
}
/*# sourceMappingURL=style.css.map */